<html>
  <head>
    <title>Image Status</title>
    <style>
      .content {
        width:100%;
        max-width: 500px;
        margin: 0 auto;
        font-family: Helvetica Neue, Arial;
      }
    </style>
  </head>
  <body>
    <div class="content">
        <h2>Post Status</h2>
        <p>
          <%if (safe === true) { %>This content is safe to post.<% } else {%>This content is not safe to post.<% }%>
        </p>
        <a href="/test">Go Back</a>
    </div>

  </body>
</html>